 
.app {
    text-align: center;
  }
/*   
  .App-header {
    margin: 0;
  }
  .container h1 {
    color: #833939;
    font-family: "Quicksand";
    font-size: 80px;
  }
  
  .Errors img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 3%;
    margin: 0%;
  } */