.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px;
  grid-row-gap: 30px;
}

@media only screen and (max-width: 1389px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
    grid-row-gap: 30px;
  }
}
@media only screen and (max-width: 1077px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    grid-row-gap: 30px;
  }
}
@media only screen and (max-width: 647px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 13rem;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.text {
  padding: 20px;
}
