.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px;
  grid-row-gap: 30px;
}

.header {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.text {
  padding: 20px;
}
