.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.like {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dislike {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 100px;
}

@media only screen and (max-width: 1050px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 857px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 463px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    margin-left:-10%;
  }
}

.card {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.bin {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.votes {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
