.error {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
}

.picture {
  margin-left: 30%;
}

.message {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home {
  margin-left: 48%;
  margin-top: 10px;
}
