.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 360px) {
  .header {

    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .header {
  
    width: 100%;
  }
}
