.form {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .form {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .form {
    margin-left: 31%;
    width: 300px;
  }
}
@media only screen and (max-width: 414px) {
  .form {
    margin-left: -10%;
    width: 500px;
    padding: 20px;
  }
}

@media only screen and (max-width: 411px) {
  .form {
    margin-left: -14%;
    width: 500px;
  }
}

@media only screen and (max-width: 375px) {
  .form {
    margin-left: -18%;
    width: 500px;
  }
}

@media only screen and (max-width: 360px) {
  .form {
    margin-left: -20%;
    width: 500px;
  }
}

@media only screen and (width: 320px) {
  .form {
    margin-left: -28%;
    width: 500px;
  }
}

.textarea {
  width: 700px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .textarea {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
