.form {
  display: flex;
  justify-content: center;
}

.textarea {
  width: 700px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 773px) {
  .textarea {
    width: 400px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .textarea {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
